<div class="modal-overlay" style="z-index: 1050;"> <div class="modal-content" style="max-width: 450px;">
    <div class="modal-header">
      <h2 style="margin:0; font-size: 18px;">Nuevo Tipo</h2>
      <button class="modal-close" (click)="close.emit()">×</button>
    </div>
    <div class="modal-body">
      
      <div class="form-grid">
        <label class="form-label">Nombre</label>
        <input type="text" [(ngModel)]="tipoGasto.nombre" style="border-color: #0ea5e9;">
      </div>
      
      <div class="form-grid">
        <label class="form-label">Grupo</label>
        <select [(ngModel)]="tipoGasto.grupo">
          <option value="Seleccione">Seleccione</option>
          <option value="Operativo">Operativo</option>
          <option value="Administrativo">Administrativo</option>
        </select>
      </div>
      
      <div class="form-grid">
        <label class="form-label">Tipo</label>
        <select [(ngModel)]="tipoGasto.tipo">
          <option value="Seleccione">Seleccione</option>
          <option value="Fijo">Fijo</option>
          <option value="Variable">Variable</option>
        </select>
      </div>

    </div>
    <div class="modal-footer">
      <button class="btn-primary" (click)="guardar()">🖫 Confirmar</button>
      <button class="btn-danger" (click)="close.emit()">✖ Cancelar</button>
    </div>
  </div>
</div>